/* *********** */
/* HEADER SECTION */
/* *********** */
#header{
    height: 35rem;
    background: url(/images/header.png)no-repeat,url(/images/header-repeat.png);
    background-position: center top;
}
.header-title {
    padding-top: 4.2rem;
    font-size: 4.8rem;
    font-weight: 500;
}
.header-nav{
    padding-top: 10rem;
}
.header-nav ul li a{
    color: #ffff;
    font-weight: 700;
    padding: 1rem;
    font-size: 1.4rem;
    transition: all 0.3s;
}
.header-nav ul li a:hover{
    color: #27a7ff;
}
/* STICKY HEADER */
#stickyHeader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5.4rem;
  background:#616161;
  background-image: linear-gradient(to bottom, #616161, #383838);
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-100%);
  transition: all 0.3s ease;
}

#stickyHeader.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
#stickyHeader nav a {
    color: white;
    margin: 0 1rem;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 500;
    transition: all 0.2s ;
}
#stickyHeader nav a:hover {
  color: #27a7ff;
}
.sticky-h1 {
    float: left;
    color: #fff;
    font-size: 2.6rem;
    margin-top: 1.2rem;
}
.stciky-nav{
    float: right;
    padding: 2rem;
}
/* *********** */
/* HOME SECTION */
/* *********** */
#home{
    padding: 6rem 0rem;
}
.col-50{
   width: 50%;
   padding: 0 1rem;
}
.home-heading{
    font-size: 5.8rem;
    font-weight: normal;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.home-title {
    margin-top: 3rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: normal;
}
.home-pera {
    margin-top: 2rem;
    font-size: 1.5rem;
    line-height: 2.2rem;
}
.home-pera a{
   color:#428bca ;
}
.home-pera a:hover{
   color:#2a6496 ;
}
.lorem {
    float: right !important;
    margin-top: 2.6rem;
    padding: 1rem 2rem;
    background: #616161;
    background-image: linear-gradient(to bottom, #616161, #383838);
    color: #ffff;
    border-radius: 2rem;
    font-size: 1.2rem;
    transition: all 0.2s;
}
.lorem:hover{
    background: #3cb0fd;
    color: #ffff;
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
}
/* *********** */
/* SUBSCRIBE SECTION */
/* *********** */
#subscribe{
    padding: 6rem 0rem;
}
.sub-heading{
    font-size: 6rem;
    font-weight: 400;
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.sub-p{
    margin-top: 6rem;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 2rem;
}
.sub-form{
    margin-top: 6rem;
}
.sub-input {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    max-width: 55rem;
    padding: 1rem 3rem;
}
.sub-btn {
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    margin-top: 3rem;
    font-size: 1.4rem;
    background-color: #27a7ff;
    color: #ffffff;
    width: 100%;
    max-width: 40rem;
    padding: 1.4rem 2rem;
    transition: all 0.3s;
}
.sub-btn:hover {
    background-color: #616161;
}
/* *********** */
/* ALBUMS SECTION */
/* *********** */
#albums{
    padding: 6rem 0rem;
}
.albums-heading{
    font-size: 6rem;
    font-weight: 400;
    margin: 0 auto;
}
.album-img{
    position: relative;
    height: 30rem; 
    padding: 0 2rem;
    float: left;
    width: 415px;
}
.albums-boxs {
    margin-top: 5rem;
    overflow: hidden;
}
.album-box {
    float: left;
    width: 50%;
    padding: 0 2rem;
    margin-top: 5rem;
}
.album-img-1 {
    position: absolute;
    width: 10rem;
    border-radius: 50%;
    left: 115px;
    top: 100px;
    z-index: 200;
    transition: all 0.3s;
}
.album-box:hover .album-img-1{
    width: 16rem;
    left: 85px;
    top: 70px;
}
.album-img-bg{
   position: absolute;
    top: 6px;
    left: 21px;
    z-index: -100;
}
.album-circle {
    position: absolute;
    width: 40rem;
    height: auto;
    top: 0rem;
    left: 1.4rem;
}
.album-description{
    float: left;
    width: 10rem;
}
.de-text{
    font-size: 1.2rem;
}
.description-1{
    margin-top: .6rem;
}
.description-2{
    margin-top: 7rem;
}
.description-3{
    margin-top: 14rem;
}
.album-box:hover .album-description{
    color: #27a7ff;
}
.album-circle{
    filter: grayscale(100%);  /* gray by default */
    transition: filter 0.3s ease, drop-shadow 0.3s ease;
}
.album-box:hover .album-circle  {
  filter: grayscale(0%) drop-shadow(0 0 0 #0088ff);
}
/* *********** */
/* ABOUT SECTION */
/* *********** */
#about{
    padding: 6rem 0rem; 
}
.img-container{
    position: relative;
    max-width: 56rem;
    width: 100%;
    margin: 0 auto;
}
.about-img{
    left: 0;
    position: absolute;
    top: 0;
    z-index: -100;
}
.about-p{
    margin-top: 5rem;
    font-size: 1.5rem;
    font-weight: 300;
}
/* *********** */
/* SERVICE SECTION */
/* *********** */
#service{
    padding: 6rem 0;
}
.service-box {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5rem;
}
.service-article{
    width: 33.33333333%;
    padding: 0rem 1.5rem;
}
.center-block{
    margin: 0 auto;
}
.service-h3 {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 2.5rem;
    font-weight: 300;
}
.service-p {
    font-size: 1.6rem;
    margin-top: 2rem;
    font-weight: 300;
}
/* *********** */
/* CONTACT SECTION */
/* *********** */
#contact{
    padding: 6rem 0;
}
.conatct-box{
    display: flex;
    flex-wrap: wrap;
    margin-top: 5rem;
}
.contact-item{
    width: 100%;
    flex: 0 0 auto;
    padding: 0rem 1.5rem;
    margin-bottom: 2rem;
}
.form-control {
    width: 100%;
    height: 3.6rem;
    padding: 1.2rem 1rem;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    color: #555;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 0;
    outline: none;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
#textArea{
   min-height: 15rem;
   width: 100%;
}
.form-control:focus{
  border-color: #66afe9;
}
.contact-btn{
    border: none;
    float: right !important;
    padding: 1.4rem 4rem;
}
/* *********** */
/* FOOTER SECTION */
/* *********** */
footer{
    height: 27rem;
    background: url(/images/footer.png);
    background-size: 100% 27rem;
    position: relative;
    overflow: hidden;
}
.footer-container{
    position: absolute;
    bottom: 10%;
    left: 20%;
}
.footer-p{
    font-size: 1.4rem;
}
.footer-p a{
    color: #0088ff;
}
.footer-p a:hover{
    color: #27a7ff;
}